
@{
    ViewBag.Title = "SMS";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<style>
    .icon-home:before {
        content: "\e87a"
    }
</style>
<div class="row">
    <div class="col-xl-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-header-left ">
                    <h2>SMS</h2>
                    WelCome
                </div>
            </div>
        </div>
    </div>
</div>
